body {
  background-color: #a091ce;
}

* {
  box-sizing: border-box
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  padding: 12px 40px;
  position: relative;
  list-style-type: none;


  background: #d8cef1;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  word-break: break-word;

  cursor: pointer;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:hover {
  background-color: #d5a3de;
}

h1 {
  font-family: 'Russo One', sans-serif;
  padding: 30px 10px 10px 30px;
  text-align: left;
}

.addElement {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Russo One', sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 15px;
}

.addElement:focus {
  box-shadow: #D6D6E7 0 0 0 2px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.addElement:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.addElement:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.addBox {
  padding: 20px 20px;
}

input {
  border: none;
  border-radius: 7px;
  width: 75%;
  padding: 10px;
  margin: -0 7px 7px -3px;
  height: 50px;

  font-size: 19px;
  background-color: #f1eeff;
  font-family: 'Nunito', sans-serif;
}

input:focus {
  outline-color: #be75d0;
}

.main-container {
  background-color: #ffffff;
  margin: 20px;
  border-radius: 20px;
  max-width: 1000px;
  min-width: 400px;
}

.editButton {
  background-color: #d074d7;
  color: white;
  padding: 5px 7px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  border: none;
  float: right;
}

.deleteButton {
  background-color: #7e74d7;
  color: white;
  padding: 5px 7px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: none;
  float: right;
}

.saveButton {
  background-color: #d074d7;
  color: white;
  padding: 5px 7px;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  border: none;
}

.cancelButton {
  background-color: #7e74d7;
  color: white;
  padding: 5px 7px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border: none;
}

#progress-bar {
  width: 400px;
  height: 20px;
  position: relative;
  margin-bottom: 20px;
  background: linear-gradient(to right, lightblue, pink);
}

#progressBar {
  outline: none;
}